:root {
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-redish: #FB3B64;
    --color-green: #55DFB4;
    --color-black: #000000;
    --color-grey: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --color-white: #FFFFFF;

    --font-raleway: "Raleway", sans-serif;
    --font-open-sans: "Open Sans", sans-serif;

    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-bold: 700;
    --font-weight-extra-bold: 800;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--font-open-sans), sans-serif;
}

.container {
    width: 1352px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

/*----------------HEADER----------------*/

.header {
    width: 100%;
    height: 70px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.header .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: var(--font-raleway), sans-serif;
    font-size: 2rem;
    font-weight: var(--font-weight-light);
    color: var(--color-primary);
}

.header__list {
    display: flex;
    align-items: center;
}

.header__el {
    padding: 0 26px;
}

.header__link {
    padding: 28px 18px 22px;
    text-transform: uppercase;
    font-size: 0.6875rem;
    font-weight: var(--font-weight-bold);
    color: var(--color-grey);
    letter-spacing: 0.205rem;
    border-bottom: 4px solid transparent;
    transition: color 0.3s ease, border-bottom 0.3s ease;
}

.header__link:hover {
    color: var(--color-black);
    border-color: var(--color-primary);
}

.header__el:last-child {
    padding-right: 0;
}

/*----------------HERO----------------*/

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero__content {
    text-align: center;
    margin-top: 130px;
}

.hero__title {
    text-transform: capitalize;
    font-family: var(--font-raleway), sans-serif;
    font-size: 3.0625rem;
}

.hero__text {
    margin-top: 20px;
    margin-bottom: 38px;
}

.btn {
    display: inline-block;
    background: var(--color-primary);
    color: var(--color-white);
    font-weight: var(--font-weight-bold);
    box-shadow: 5px 10px 14px var(--color-primary-shadow);
    border: none;
}

.hero__btn {
    padding: 22px 157px;
    border-radius: 40px;
}

.hero__photo {
    width: 100%;
    height: auto;
}

/*----------------STATISTICS----------------*/

.statistics {
    margin-top: 100px;
}

.statistics__title {
    font-family: var(--font-raleway), sans-serif;
    font-size: 2.25rem;
    text-align: center;
}

.statistics__boxes {
    max-width: 800px;
    margin: 100px auto 120px;
    display: flex;
    justify-content: space-between;
}

.statistics__box {
    max-width: 160px;
    text-align: center;
    position: relative;
    font-family: var(--font-raleway), sans-serif;
}

.statistics__box-photo {
    position: absolute;
    z-index: 10;
}

.statistics__box-1 .statistics__box-photo {
    top: 0;
    left: 50%;
}

.statistics__box-2 .statistics__box-photo {
    top: 14px;
    left: 43%;
}

.statistics__box-3 .statistics__box-photo {
    top: 6px;
    left: 50%;
}

.statistics__box-title {
    font-weight: var(--font-weight-extra-bold);
    font-size: 1.25rem;
    letter-spacing: 0.375rem;
    margin-top: 77px;
}

.statistics__box-text {
    font-size: 1.0625rem;
    color: var(--color-grey);
    margin-top: 19px;
}

.statistics__box::before {
    content: "";
    display: block;
    position: absolute;
    width: 63px;
    height: 63px;
    border-radius: 50%;
    z-index: 0;
    top: 0;
    left: calc(50% - 31.5px);
}

.statistics__box-1::before {
    background: var(--color-redish);
}

.statistics__box-2::before {
    background: var(--color-primary);
}

.statistics__box-3::before {
    background: var(--color-green);
}