:root {
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-redish: #FB3B64;
    --color-green: #55DFB4;
    --color-black: #000000;
    --color-grey: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --color-white: #FFFFFF;

    --font-raleway: "Raleway", sans-serif;
    --font-open-sans: "Open Sans", sans-serif;

    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-bold: 700;
    --font-weight-extra-bold: 800;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--font-open-sans), sans-serif;
    color: var(--color-black);
}

.container {
    width: 1352px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

/*---------------------------HEADER---------------------------*/

.header {
    width: 100%;
    height: 70px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.header .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: var(--font-raleway), sans-serif;
    font-size: 2rem;
    font-weight: var(--font-weight-light);
    color: var(--color-primary);
}

.header__list {
    display: flex;
    align-items: center;
}

.header__el {
    padding: 0 26px;
}

.header__link {
    padding: 28px 18px 22px;
    text-transform: uppercase;
    font-size: 0.6875rem;
    font-weight: var(--font-weight-bold);
    color: var(--color-grey);
    letter-spacing: 0.205rem;
    border-bottom: 4px solid transparent;
    transition: color 0.3s ease, border-bottom 0.3s ease;
}

.header__link:hover {
    color: var(--color-black);
    border-color: var(--color-primary);
}

.header__el:last-child {
    padding-right: 0;
}

/*---------------------------HERO---------------------------*/

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero__content {
    text-align: center;
    margin-top: 130px;
}

.hero__title {
    text-transform: capitalize;
    font-family: var(--font-raleway), sans-serif;
    font-size: 3.0625rem;
}

.hero__text {
    margin-top: 20px;
    margin-bottom: 38px;
}

.btn {
    display: inline-block;
    background: var(--color-primary);
    color: var(--color-white);
    font-weight: var(--font-weight-bold);
    box-shadow: 5px 10px 14px var(--color-primary-shadow);
    border: none;
}

.hero__btn {
    padding: 22px 157px;
    border-radius: 40px;
}

.hero__photo {
    width: 100%;
    height: auto;
}

/*-------------------------STATISTICS-------------------------*/

.statistics {
    margin-top: 100px;
}

.statistics__title {
    font-family: var(--font-raleway), sans-serif;
    font-size: 2.25rem;
    text-align: center;
}

.statistics__boxes {
    max-width: 800px;
    margin: 100px auto 120px;
    display: flex;
    justify-content: space-between;
}

.statistics__box {
    max-width: 160px;
    text-align: center;
    position: relative;
    font-family: var(--font-raleway), sans-serif;
}

.statistics__box-photo {
    position: absolute;
    z-index: 10;
}

.statistics__box-1 .statistics__box-photo {
    top: 0;
    left: 50%;
}

.statistics__box-2 .statistics__box-photo {
    top: 14px;
    left: 43%;
}

.statistics__box-3 .statistics__box-photo {
    top: 6px;
    left: 50%;
}

.statistics__box-title {
    font-weight: var(--font-weight-extra-bold);
    font-size: 1.25rem;
    letter-spacing: 0.375rem;
    margin-top: 77px;
}

.statistics__box-text {
    font-size: 1.0625rem;
    color: var(--color-grey);
    margin-top: 19px;
}

.statistics__box::before {
    content: "";
    display: block;
    position: absolute;
    width: 63px;
    height: 63px;
    border-radius: 50%;
    z-index: 0;
    top: 0;
    left: calc(50% - 31.5px);
}

.statistics__box-1::before {
    background: var(--color-redish);
}

.statistics__box-2::before {
    background: var(--color-primary);
}

.statistics__box-3::before {
    background: var(--color-green);
}

/*------------------------BENEFITS-------------------------*/

.benefits {
    background: var(--color-light-grey);
    padding: 100px 0;
}

.benefits .container {
    padding: 0 100px;
}

.benefits__box {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background: var(--color-white);
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    margin-bottom: 37px;
}

.benefits__box--reverse {
    flex-direction: row-reverse;
    padding: 0 20px 0 70px;
}

/*benefits__content*/
.benefits__content {
    max-width: 415px;
    margin: 90px 36px;
}

.benefits__title {
    font-family: var(--font-raleway), sans-serif;
    font-size: 2.25rem;
}

.benefits__text {
    line-height: 1.375rem;
    margin-top: 30px;
}

.benefits__content::after {
    content: "";
    display: block;
    width: 328px;
    height: 4px;
    margin-top: 50px;
}

.benefits__content--macbook::after {
    background: var(--color-redish);
}

.benefits__content--phone::after {
    background: var(--color-primary);
}

.benefits__content--trumpet::after {
    background: var(--color-green);
}

/*benefits__photo*/
.benefits__photo {
    position: relative;
}

.benefits__photo img {
    position: relative;
    z-index: 10;
}

.benefits__photo--macbook {
    margin-bottom: 38px;
    margin-right: 117px;
}

.benefits__photo--macbook::before {
    content: "";
    display: block;
    position: absolute;
    width: 180px;
    height: 180px;
    background: var(--color-redish);
    border-radius: 41px;
    z-index: 2;
    top: -40px;
    right: 0;
    transform: rotate(45deg);
}

.benefits__photo--macbook img {
    width: 386px;
    height: auto;
}

.benefits__photo--phone::before {
    content: "";
    display: block;
    position: absolute;
    width: 320px;
    height: 320px;
    background: var(--color-primary);
    border-radius: 50%;
    z-index: 2;
    top: -20px;
    left: 0;
}

.benefits__photo--phone img {
    width: 426px;
    height: auto;
}

/*last row*/
.benefits__box--last {
    display: flex;
}

.benefits__content-trumpet-box,
.benefits__photo-trumpet-box {
    margin-bottom: 0;
}

.benefits__content-trumpet-box {
    max-width: 620px;
    background: var(--color-white);
    border: 1px solid #E8E9ED;
    border-radius: 5px;
}

.benefits__content--trumpet {
    max-width: none;
    margin: 70px 35px;
}

.benefits__photo-trumpet {
    background: var(--color-green);
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    display: flex;
    flex-grow: 1;
    margin-left: 60px;
    align-items: center;
    justify-content: center;
}

.benefits__photo-trumpet img {
    width: 295px;
    height: auto;
    margin-top: 55px;
}

/*------------------------PRICING-------------------------*/

.pricing .container {
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.pricing__title {
    font-family: var(--font-raleway), sans-serif;
    font-size: 2.25rem;
}

.pricing__boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 56px;
    margin-top: 50px;
}

.pricing__box {
    width: 370px;
    border: 1px solid var(--color-redish);
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.pricing__box--premium {
    border-color: var(--color-green);
}

.pricing__details {
    margin-top: 34px;
    margin-bottom: 60px;
    text-align: center;
}

.pricing__type {
    font-family: var(--font-raleway), sans-serif;
    font-weight: var(--font-weight-bold);
    font-size: 1.25rem;
    color: #13253B;
}

.pricing__price {
    font-size: 2.875rem;
    font-weight: var(--font-weight-light);
    margin-top: 25px;
}

.pricing__box--basic .pricing__price {
    color: var(--color-redish);
    margin-bottom: 30px;
}

.pricing__box--premium .pricing__price {
    color: var(--color-green);
}

.pricing__limited {
    font-family: var(--font-raleway), sans-serif;
    font-weight: var(--font-weight-bold);
    font-size: 0.75rem;
    color: #13253B;
    margin-top: 18px;
    text-align: center;
}

.pricing__items {
    text-align: center;
    margin-bottom: 60px;
}

.pricing__item {
    font-size: 0.875rem;
    margin-bottom: 20px;
}

.pricing__item::before {
    content: url("../assets/Ckechmark-1.svg");
    position: relative;
    left: -10px;
}

.pricing__item--not::before {
    content: url("../assets/Close.svg");
}

.pricing__btn {
    border-radius: 23px;
    padding: 16px 56px;
    font-size: 0.8125rem;
    position: absolute;
    bottom: -25px;
    left: calc(50% - 75px);
}

.btn--basic, .btn--premium {
    box-shadow: none;
}

.btn--basic {
    background: var(--color-redish);
}

.btn--premium {
    background: var(--color-green);
}

/*box--professional*/
.pricing__box--professional {
    width: 400px;
    border-color: var(--color-primary);
    box-shadow: 5px 10px 27px var(--color-primary-shadow);
}

.pricing__box--professional .pricing__type {
    font-size: 1.3125rem;
}

.pricing__box--professional .pricing__price {
    color: var(--color-primary);
}

.pricing__box--professional .pricing__limited {
    margin-top: 24px;
}

.pricing__box--professional .pricing__item {
    margin-bottom: 25px;
}

.btn--professional {
    padding: 16px 64px;
    left: calc(50% - 82.5px);
}

/*------------------------CONTACT-------------------------*/


.contact .container {
    margin: 150px auto 100px;
    display: flex;
    justify-content: center;
    align-items:flex-start;
    gap: 114px;
}

.contact__column {
    max-width: 440px;
}

/*left column*/
.contact__title {
    font-family: var(--font-raleway), sans-serif;
    font-size: 3.0625rem;
    line-height: 3.6875rem;
    margin-bottom: 22px;
}

.contact__text {
    font-size: 1rem;
    line-height: 1.375rem;
    margin-bottom: 42px;
}

.contact__details {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.contact__details-item {
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    color: var(--color-grey);
}

.contact__details-item:first-of-type {
    margin-right: 20px;
}

.contact__details-item img {
    margin-right: 8px;
}

/*right column (form)*/
.form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.form__field {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form__label {
    text-transform: uppercase;
    font-size: 0.6875rem;
    line-height: 0.9rem;
    letter-spacing: 3px;
    color: var(--color-primary);
    font-weight: var(--font-weight-bold);
}

.form__input {
    width: 100%;
    padding: 8px;
    border: none;
    border-bottom: 1px solid var(--color-grey);
    background-color: transparent;
}

.form__input:focus {
    border-color: #535353;
}

/*checkbox*/
.form__checkbox {
    display: flex;
    cursor: pointer;
}

input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox {
    width: 24px;
    flex-shrink: 0;
    height: 24px;
    border: 1px solid #95989A;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 4px;
    margin-right: 10px;
}

input[type="checkbox"]:checked + .checkbox {
    background-image: url("../assets/Checkmark.svg");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;

}

.form__consent-text {
    font-size: 0.75rem;
    line-height: 1.0625rem;
    color: #707070;
}

.btn--form {
    align-self: flex-end;
    font-size: 0.8125rem;
    padding: 20px 97px;
    border-radius: 35px;
}