* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-open-sans), sans-serif;
  color: var(--color-black);
}

.container {
  width: 1352px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}