.benefits {
  background: $color-light-grey;
  padding: 100px 0;

  @include tablet {
    padding: 50px 0;
  }
}

.benefits .container {
  padding: 0 100px;

  @include tablet {
    padding: 0 15px;
  }
}

.benefits__box {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background: $color-white;
  border: 1px solid #E8E9ED;
  border-radius: 5px;
  margin-bottom: 37px;

  @include tablet {
    flex-direction: column-reverse !important;
    align-items: center;
    padding: 0 20px  !important;
  }
}

.benefits__box--reverse {
  flex-direction: row-reverse;
  padding: 0 20px 0 70px;
}

/*benefits__content*/
.benefits__content {
  max-width: 415px;
  margin: 90px 36px;


  @include tablet {
    margin: 0;
    max-width: none;
  }
}

.benefits__content--macbook,
.benefits__content--phone {
  @include tablet {
    margin: 30px 0;
  }
}

.benefits__title {
  font-family: $font-raleway;
  font-size: 2.25rem;
}

.benefits__text {
  line-height: 1.375rem;
  margin-top: 30px;
}

.benefits__content::after {
  content: "";
  display: block;
  width: 328px;
  height: 4px;
  margin-top: 50px;

  @include tablet {
    display: none;
  }
}

.benefits__content--macbook::after {
  background: $color-redish;
}

.benefits__content--phone::after {
  background: $color-primary;
}

.benefits__content--trumpet::after {
  background: $color-green;
}

/*benefits__photo*/
.benefits__photo {
  position: relative;
}

.benefits__photo img {
  position: relative;
  z-index: 10;
}

.benefits__photo--macbook {
  margin-bottom: 38px;
  margin-right: 117px;

  @include tablet {
    margin: 40px 0 0;
  }
}

.benefits__photo--macbook::before {
  content: "";
  display: block;
  position: absolute;
  width: 180px;
  height: 180px;
  background: $color-redish;
  border-radius: 41px;
  z-index: 2;
  top: -40px;
  right: 0;
  transform: rotate(45deg);


  @include tablet {
    width: 90px;
    height: 90px;
    right: -10px;
    top: -30px;
  }
}

.benefits__photo--macbook img {
  width: 386px;
  height: auto;

  @include tablet {
    width: 192px;
  }
}

.benefits__photo--phone::before {
  content: "";
  display: block;
  position: absolute;
  width: 320px;
  height: 320px;
  background: $color-primary;
  border-radius: 50%;
  z-index: 2;
  top: -20px;
  left: 0;

  @include tablet {
    width: 131px;
    height: 131px;
    top: -15px;
  }
}

.benefits__photo--phone {
  @include tablet {
    margin-top: 30px;
  }
}

.benefits__photo--phone img {
  width: 426px;
  height: auto;

  @include tablet {
    width: 175px;
  }
}

/*last row*/
.benefits__box--last {
  display: flex;

  @include tablet {
    flex-direction: column;
  }
}

.benefits__content-trumpet-box,
.benefits__photo-trumpet-box {
  margin-bottom: 0;
}

.benefits__content-trumpet-box {
  max-width: 620px;
  background: $color-white;
  border: 1px solid #E8E9ED;
  border-radius: 5px;

  @include tablet {
    max-width: none;
    padding: 0 20px
  }
}

.benefits__content--trumpet {
  max-width: none;
  margin: 70px 35px;

  @include tablet {
    margin: 0;
    padding: 30px 0;
  }
}

.benefits__photo-trumpet {
  background: $color-green;
  border: 1px solid #E8E9ED;
  border-radius: 5px;
  display: flex;
  flex-grow: 1;
  margin-left: 60px;
  align-items: center;
  justify-content: center;

  @include tablet {
    margin-left: 0;
    margin-top: -5px;
  }
}

.benefits__photo-trumpet img {
  width: 295px;
  height: auto;
  margin-top: 55px;
}