.pricing .container {
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  @include notebook {
    margin: 50px auto;
  }
}

.pricing__title {
  font-family: $font-raleway;
  font-size: 2.25rem;
}

.pricing__boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 56px;
  margin-top: 50px;

  @include notebook {
    flex-direction: column;
    width: 100%;
    gap: 0;
  }
}

.pricing__box {
  width: 370px;
  border: 1px solid $color-redish;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  @include notebook {
    width: 100%;
    max-width: 370px;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 50px;
    justify-content: center;
    padding: 25px 10px 0 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.pricing__box--premium {
  border-color: $color-green;
}

.pricing__details {
  margin-top: 34px;
  margin-bottom: 60px;
  text-align: center;

  @include notebook {
    width: 50%;
    //margin: 0;
  }
}

.pricing__type {
  font-family: $font-raleway;
  font-weight: $font-weight-bold;
  font-size: 1.25rem;
  color: #13253B;
}

.pricing__price {
  font-size: 2.875rem;
  font-weight: $font-weight-light;
  margin-top: 25px;
}

.pricing__box--basic .pricing__price {
  color: $color-redish;
  margin-bottom: 30px;

  @include notebook {
    margin-bottom: 0;
  }
}

.pricing__box--premium .pricing__price {
  color: $color-green;
}

.pricing__limited {
  font-family: $font-raleway;
  font-weight: $font-weight-bold;
  font-size: 0.75rem;
  color: #13253B;
  margin-top: 18px;
  text-align: center;
}

.pricing__items {
  text-align: center;
  margin-bottom: 60px;

  @include notebook {
    width: 50%;
    text-align: left;
    margin-top: 15px;
    margin-bottom: 40px;
  }
}

.pricing__item {
  font-size: 0.875rem;
  margin-bottom: 20px;

  @include notebook {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.pricing__item::before {
  content: url("../assets/Ckechmark-1.svg");
  position: relative;
  left: -10px;
}

.pricing__item--not::before {
  content: url("../assets/Close.svg");
}

.pricing__btn {
  border-radius: 23px;
  padding: 16px 56px;
  font-size: 0.8125rem;
  position: absolute;
  bottom: -25px;
  left: calc(50% - 75px);
}

.btn--basic, .btn--premium {
  box-shadow: none;
}

.btn--basic {
  background: $color-redish;
}

.btn--premium {
  background: $color-green;
}

/*box--professional*/
.pricing__box--professional {
  width: 400px;
  border-color: $color-primary;
  box-shadow: 5px 10px 27px $color-primary-shadow;

  @include notebook {
    max-width: 400px;
    width: 100%;
    margin: 0 0 50px 0;
  }
}

.pricing__box--professional .pricing__type {
  font-size: 1.3125rem;
}

.pricing__box--professional .pricing__price {
  color: $color-primary;
}

.pricing__box--professional .pricing__limited {
  margin-top: 24px;
}

.pricing__box--professional .pricing__item {
  margin-bottom: 25px;
}

.btn--professional {
  padding: 16px 64px;
  left: calc(50% - 83px);
}